<!DOCTYPE html>
<html>
<head>

  <title>Steam Pipe</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">

  <link rel="stylesheet" href="static/style.css">

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Query Source Servers</h1>

<div id="app">
  <div class="pure-g">
    <div class="pure-u-xl-1-3 pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-xl-1-3 pure-u-md-1-2">
      <div class="pure-g">
        <textarea class="pure-u-1" id="input" rows="1" wrap="off" placeholder="IP Address" v-model="serverUrl" @keydown.enter="onEnter"></textarea>
      </div>

      <div class="pure-g">
        <p class="pure-u-1" id="error" v-cloak>{{ errormsg }}</p>
      </div>

      <div class="pure-g">
        <div class="pure-u-1" id="server-info" v-if="item">
          <h4>{{ item.Name }}</h4>
          <p>Players:&nbsp;{{ item.PlayerString }}</p>
          <p>Map:&nbsp;{{ item.Map }}</p>
        </div>
      </div>

      <div class="pure-g">
        <div class="pure-u-1 squircle" id="help">
          <h3>Help</h2>
          <p>Type a Source server address into the box and press <kbd>Enter</kbd> or <kbd>Return</kbd>.</p>
          <p>Queries without given ports default to port 27015.</p>
          <p>Example: <a @click="clickExample" href="#">{{exampleServer}}</a></p>
          <p>Query results can be up to 10 seconds out of date.</p>
        </div>
      </div>

    </div>
    <div class="pure-u-xl-1-3 pure-u-md-1-4"></div>
  </div>

</div>

<script src="static/site.js"></script>

</body>
</html>
