body {
  background-color: #222222;
  color: #aaaaaa;
  text-align: center;
  font-family: "Verdana", "Arial", Sans-serif;
}

a {
  color: #aaaaaa;
  text-decoration: none;
}

h1 {
  font-weight: lighter;
  margin: 3rem;
}

textarea {
  background-color: #222222;
  color: #aaaaaa;

  padding: 0.5rem;
  margin: 2rem;

  font-size: 1.5rem;
  text-align: center;

  border-radius: 10px;
  box-shadow: 0 0 0 3px #444;
  border: 0px;

  resize: none;
  overflow: hidden;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px #777;
}

#server-info {
  margin: 2rem;
  padding: 0.5rem;

  border: 0px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #444;
}

#error {
  color: #dd3333;
}

#help {
  margin: 2rem;
  padding: 0.5rem;

  font-size: 0.9rem;
}

#help a {
  color: #dddddd;
}

.squircle {
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #444;

  padding: 0.25rem;
}

#join {
  float: right;
}

#join:hover {
  background: #223322;
  box-shadow: 0 0 0 3px #676;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.server-info-box {
  padding: 0.25rem;
}

[v-cloak] {
  display: none;
}
